STEPS;-<br>
1. Extract
2. Split
3. Train the model on training set
4. test the model on testing set

RULES:<br>
1. Features should not have any strings
2. Features and target should not have null values
3. Features should be of the type array/ dataframe
4. Features should have some rows and some columns
5. Features should be on the same scale w.r.t. each other

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("odi.csv")

In [9]:
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350894,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.2,39,0,59,18,203
350895,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.3,39,0,59,18,203
350896,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.4,38,0,59,18,203
350897,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,202,8,49.5,38,0,59,18,203
350898,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,PVD Chameera,TL Chatara,203,8,49.6,38,0,59,18,203

In [10]:
df=df.drop("date",axis=1)

In [11]:
df.head()

,mid,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

# 1

In [12]:
X=df.drop("total",axis=1)

In [13]:
y=df["total"]

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   mid             350899 non-null  int64
 1   venue           350899 non-null  object
 2   bat_team        350899 non-null  object
 3   bowl_team       350899 non-null  object
 4   batsman         350899 non-null  object
 5   bowler          350899 non-null  object
 6   runs            350899 non-null  int64
 7   wickets         350899 non-null  int64
 8   overs           350899 non-null  float64
 9   runs_last_5     350899 non-null  int64
 10  wickets_last_5  350899 non-null  int64
 11  striker         350899 non-null  int64
 12  non-striker     350899 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 34.8+ MB

In [14]:
X=pd.get_dummies(X,columns=["venue","bat_team","bowl_team","batsman","bowler"],drop_first=True)

In [15]:
X.columns

Index(['mid', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'striker', 'non-striker', 'venue_Adelaide Oval',
       'venue_Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium',
       ...
       'bowler_Younis Khan', 'bowler_Yuvraj Singh', 'bowler_Z Khan',
       'bowler_Zaheer Maqsood', 'bowler_Zahid Hussain', 'bowler_Zahid Shah',
       'bowler_Zahoor Khan', 'bowler_Zain Abbas', 'bowler_Ziaur Rahman',
       'bowler_Zulfiqar Babar'],
      dtype='object', length=1828)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Columns: 1828 entries, mid to bowler_Zulfiqar Babar
dtypes: float64(1), int64(7), uint8(1820)
memory usage: 630.5 MB

In [17]:
X.isna().sum()

mid                      0
runs                     0
wickets                  0
overs                    0
runs_last_5              0
                        ..
bowler_Zahid Shah        0
bowler_Zahoor Khan       0
bowler_Zain Abbas        0
bowler_Ziaur Rahman      0
bowler_Zulfiqar Babar    0
Length: 1828, dtype: int64

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
X.shape

(350899, 1828)

# Split

In [20]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

# 3

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
tree=LogisticRegression()

In [6]:
model=tree.fit(X_train,y_train)

NameError: name 'X_train' is not defined

# 4

In [23]:
model.score(X_train,y_train)

1.0

In [ ]:
model.predict(X)

array([301., 301., 301., ..., 203., 203., 203.])